version: "2"
services:
  app:
    build: flask_app
    depends_on:
      - db
    networks:
      - frontend
      - backend
    ports:
    - "5000:5000"
    environment:
      FLASK_ENV: development
      DB_SERVICE: db:3306
    restart: on-failure
  db:
    image: mysql:5.7.33
#    ports:
#    - "32000:3306"
    networks:
      - backend
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - my-db:/var/lib/mysql
  db_backup:
    build: backup/
    restart: always
    volumes_from:
      - backup
    command: ["-l", "8", "-d", "8"]
    environment:
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: userdb
    networks:
      - backend
  backup:
    image: busybox
    volumes:
      - ./backup/data:/backup
volumes:
  my-db:
networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge

